In [1]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV

In [2]:
#Modification des affichages de colonnes, lignes et largeurs de colonnes pour avoir un maximum d'information
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', None)

In [3]:
train = pd.read_csv('train__bis_full_stack_final.csv', sep=",")

In [4]:
train['TARGET']

0         1
1         0
2         0
3         0
4         0
         ..
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

In [6]:
moy_streamlit = train.loc[train['TARGET']==0]

In [7]:
moy_streamlit = moy_streamlit[['EXT_SOURCE_2', 'EXT_SOURCE_3','Age_Client', 'DAYS_EMPLOYED','AMT_GOODS_PRICE', 'EXT_SOURCE_1',
                              'DAYS_LAST_PHONE_CHANGE', 'MOY_PREV_DAYS_DECISION']]

In [9]:
moy_streamlit.shape

(282686, 8)

In [1]:
liste_variable_impact = ["EXT_SOURCE_2", "EXT_SOURCE_3","Age_Client", "DAYS_EMPLOYED","AMT_GOODS_PRICE", "EXT_SOURCE_1",
                              "DAYS_LAST_PHONE_CHANGE", "MOY_PREV_DAYS_DECISION"]

In [2]:
liste_variable_impact

['EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'Age_Client',
 'DAYS_EMPLOYED',
 'AMT_GOODS_PRICE',
 'EXT_SOURCE_1',
 'DAYS_LAST_PHONE_CHANGE',
 'MOY_PREV_DAYS_DECISION']

In [42]:
with open('liste_variable_impact', 'wb') as f :
    pickle.dump(liste_variable_impact, f)

In [14]:
liste_variable_impact_moyenne = []

In [16]:
for col in liste_variable_impact :
    mean = moy_streamlit[col].mean()
    liste_variable_impact_moyenne.append(mean)

In [17]:
liste_variable_impact_moyenne

[0.6123628226573647,
 0.5843107527074552,
 0.4875522208079499,
 0.872056678089449,
 0.12524067456059115,
 0.5208469259289565,
 0.7725098978781935,
 0.6855916721026817]

In [20]:
df_moyennes = pd.DataFrame(columns = liste_variable_impact)

In [28]:
dictionnaire ={}

In [29]:
for counter, col in enumerate(liste_variable_impact) :
    print(counter, col)

0 EXT_SOURCE_2
1 EXT_SOURCE_3
2 Age_Client
3 DAYS_EMPLOYED
4 AMT_GOODS_PRICE
5 EXT_SOURCE_1
6 DAYS_LAST_PHONE_CHANGE
7 MOY_PREV_DAYS_DECISION

In [30]:
for counter, col in enumerate(liste_variable_impact) :
    dictionnaire[col] = liste_variable_impact_moyenne[counter]

In [31]:
dictionnaire

{'EXT_SOURCE_2': 0.6123628226573647,
 'EXT_SOURCE_3': 0.5843107527074552,
 'Age_Client': 0.4875522208079499,
 'DAYS_EMPLOYED': 0.872056678089449,
 'AMT_GOODS_PRICE': 0.12524067456059115,
 'EXT_SOURCE_1': 0.5208469259289565,
 'DAYS_LAST_PHONE_CHANGE': 0.7725098978781935,
 'MOY_PREV_DAYS_DECISION': 0.6855916721026817}

In [34]:
df_moyenne = pd.DataFrame(dictionnaire, index =[0])

In [35]:
df_moyenne

,EXT_SOURCE_2,EXT_SOURCE_3,Age_Client,DAYS_EMPLOYED,AMT_GOODS_PRICE,EXT_SOURCE_1,DAYS_LAST_PHONE_CHANGE,MOY_PREV_DAYS_DECISION
0,0.612363,0.584311,0.487552,0.872057,0.125241,0.520847,0.77251,0.685592

In [55]:
df_moyenne.iloc[0]

EXT_SOURCE_2              0.612363
EXT_SOURCE_3              0.584311
Age_Client                0.487552
DAYS_EMPLOYED             0.872057
AMT_GOODS_PRICE           0.125241
EXT_SOURCE_1              0.520847
DAYS_LAST_PHONE_CHANGE    0.772510
MOY_PREV_DAYS_DECISION    0.685592
Name: 0, dtype: float64

In [36]:
import pickle
with open('moyennes', 'wb') as f :
    pickle.dump(df_moyenne, f)

In [37]:
df_moyenne.T

                               0
EXT_SOURCE_2            0.612363
EXT_SOURCE_3            0.584311
Age_Client              0.487552
DAYS_EMPLOYED           0.872057
AMT_GOODS_PRICE         0.125241
EXT_SOURCE_1            0.520847
DAYS_LAST_PHONE_CHANGE  0.772510
MOY_PREV_DAYS_DECISION  0.685592

In [38]:
df_moyenne_2 = df_moyenne.copy()

In [40]:
df_moyenne_2.T

                               0
EXT_SOURCE_2            0.612363
EXT_SOURCE_3            0.584311
Age_Client              0.487552
DAYS_EMPLOYED           0.872057
AMT_GOODS_PRICE         0.125241
EXT_SOURCE_1            0.520847
DAYS_LAST_PHONE_CHANGE  0.772510
MOY_PREV_DAYS_DECISION  0.685592

In [47]:
pd.concat(df_moyenne, df_moyenne_2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [48]:
df_moyenne_2.iloc[0]

EXT_SOURCE_2              0.612363
EXT_SOURCE_3              0.584311
Age_Client                0.487552
DAYS_EMPLOYED             0.872057
AMT_GOODS_PRICE           0.125241
EXT_SOURCE_1              0.520847
DAYS_LAST_PHONE_CHANGE    0.772510
MOY_PREV_DAYS_DECISION    0.685592
Name: 0, dtype: float64

In [50]:
df3 =df_moyenne.append(df_moyenne_2.iloc[0])

In [52]:
df3.head()

,EXT_SOURCE_2,EXT_SOURCE_3,Age_Client,DAYS_EMPLOYED,AMT_GOODS_PRICE,EXT_SOURCE_1,DAYS_LAST_PHONE_CHANGE,MOY_PREV_DAYS_DECISION
0,0.612363,0.584311,0.487552,0.872057,0.125241,0.520847,0.77251,0.685592
0,0.612363,0.584311,0.487552,0.872057,0.125241,0.520847,0.77251,0.685592

In [53]:
df3.reset_index()

,index,EXT_SOURCE_2,EXT_SOURCE_3,Age_Client,DAYS_EMPLOYED,AMT_GOODS_PRICE,EXT_SOURCE_1,DAYS_LAST_PHONE_CHANGE,MOY_PREV_DAYS_DECISION
0,0,0.612363,0.584311,0.487552,0.872057,0.125241,0.520847,0.77251,0.685592
1,0,0.612363,0.584311,0.487552,0.872057,0.125241,0.520847,0.77251,0.685592

In [41]:
df_moyenne.T.join(df_moyenne_2.T)

ValueError: columns overlap but no suffix specified: Int64Index([0], dtype='int64')

In [22]:
for counter, col in enumerate(liste_variable_impact) :
    df_moyennes[col] = liste_variable_impact_moyenne[counter]

In [24]:
liste_variable_impact_moyenne[0]

0.6123628226573647

In [25]:
df_moyennes['EXT_SOURCE_2'] = liste_variable_impact_moyenne[0]

In [26]:
df_moyennes

Empty DataFrame
Columns: [EXT_SOURCE_2, EXT_SOURCE_3, Age_Client, DAYS_EMPLOYED, AMT_GOODS_PRICE, EXT_SOURCE_1, DAYS_LAST_PHONE_CHANGE, MOY_PREV_DAYS_DECISION]
Index: []